@page "/users"
@using TransportLogisticUIWebApp.Client.Models;
@inject IHttpClientFactory httpClientFactory;

<h3>Пользователи</h3>

<div class="row">
    <div class="col-12 mt-4">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Mobile</td>
                        <td>Email</td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input class="form-control" @bind="newUser.FirstName" placeholder="Name" /></td>
                        <td><input class="form-control" @bind="newUser.LastName" placeholder="Mobile" /></td>
                        <td><input class="form-control" @bind="newUser.Email" placeholder="Email" /></td>
                        <td class="pt-3"><a @onclick="SaveUser" href="javascript:void(0)"><i class="oi oi-thumb-up"></i></a></td>
                        <td></td>
                    </tr>
                    
                    @if (users != null && users.Count != 0)
                    {
                        foreach (var user in users)
                        {
                            <UserRecord 
                                User="user"
                                UpdateUser="UpdateUser"
                                DeleteUser="DeleteUser"></UserRecord>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="5">No user records to display</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    private List<UserViewModel>? users = new List<UserViewModel>();
    private UserViewModel newUser = new UserViewModel();

    private HttpClient httpClient;

    protected override async Task OnInitializedAsync()
    {
        httpClient = httpClientFactory.CreateClient("Users");
        httpClient.Timeout = TimeSpan.FromSeconds(600);

        await base.OnInitializedAsync();
        await FetchUserList();
    }

    private async Task FetchUserList()
    {
        users = await httpClient.GetFromJsonAsync<List<UserViewModel>>("api/users");
    }

    private async Task SaveUser()
    {
        await httpClient.PostAsJsonAsync<UserViewModel>("api/users", newUser);
        await FetchUserList();

        newUser = new UserViewModel();
    }

    private async Task UpdateUser(UserViewModel user)
    {
        await httpClient.PutAsJsonAsync<UserViewModel>("api/users", user);
        await FetchUserList();
    }

    private async Task DeleteUser(int userId)
    {
        var result = await httpClient.DeleteAsync($"api/users/{userId}");
        await FetchUserList();
    }
}